todo.txt
.codex

.env
.venv/
venv/
.pytest_cache/
.mypy_cache/

# CausalDB Data and Logs for tests and dev environment
velarix.data/
*.vlog
*.mem
*.data
*.bin

bin/
*.exe
*.test
*.prof

velarix.data/
velarix_test_bin
__pycache__/
*.pyc
node_modules/
sdks/typescript/node_modules/

# Fluxx(Files i dont want to push but don't want to delete)
todo.txt

# web
web/.next/

#
CLAUDE.md
